cmake_minimum_required(VERSION 3.20)

project($ProjectName$)

set(CMAKE_CXX_STANDARD 23)
set(CMAKE_CXX_STANDARD_REQUIRED ON)

set(PROJECT_SRC
    "src/main.cpp"
)
set(LIB_PATH "\${CMAKE_CURRENT_SOURCE_DIR}/lib") 

add_executable($ExecutableName$
    \${PROJECT_SRC}
)

# 添加头文件和库路径
target_include_directories($ExecutableName$ PRIVATE
    "include"
    "src"
)

target_link_directories($ExecutableName$ PRIVATE 
    "lib"
)

# 连接库
target_link_libraries($ExecutableName$ PRIVATE
    winpthread
)